.container{
    background-image: url(./images/images.jpg);
 background-size:"contain";
    height: 30vh;
    width:600px;
    
    margin-right: 100px;
    font-size:50px;
    background-repeat:no-repeat; 


}